@import "variable.scss";


@font-face {
    font-family:"vazir";
    src: url("../font/vazir font/Vazir-Regular-FD.woff");
}

body {
    margin: 0;
    padding: 0;
    font-family:"vazir";
    background: $primary-color;
}

h1 {
    color: $secondery-color;
    cursor: default;
}

.main-place {
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.delete-all-button {
    width:50px;
    min-height:300px;
    background: rgba(255, 1, 1, 0.158);
    cursor: pointer;
    transition: .7s;

        &:hover {
            background: rgba(255, 1, 1, 0.411);
        }
}

.left-delete-button {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.right-delete-button {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.area-element {
    width: 45%;
    height: 100%;
    height:auto;
    margin:2rem;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

.list-area {
    width: 90%;
    min-height:300px;
    border:2px solid $secondery-color;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.input-place {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.input-area {
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.input-area-input {
    width:30%;
    height:35px;
    padding:1rem;
    margin: .4rem;
    font-size: .9rem;
    border-radius:20px;
    outline: none;
    border: none;
}

.button-accept {
    width: 15%;
    height: 30px;
    padding: .4rem;
    margin: .2rem;
    border-radius:20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.left-delete-button-place {
    width:10%;
    height:100%;
}

.active-list {
    width:89%;
}

li {
    color: $secondery-color;
}

#build-li {
    padding:.5rem;
    margin: .5rem;
    border-bottom:1px solid rgba(58, 58, 58, 0.479);
}

#text-task {
    cursor: default;
    margin-right:.5rem;
    transition: .3s;
        &:hover {
            color: #fff;
            font-size:17px;
        }
}

#delete-button {
    cursor: pointer;
    font: inherit;
    margin-right: .5rem;
    font-size:15px;
    border: none;
    outline: none;
    background:rgb(253, 44, 44);
    border-radius:5px;
    color:white;
    padding: .1rem .4rem;
    transition:.6s;
        &:hover {
            background:rgb(194, 0, 0);
        }
}

#done-button {
    cursor: pointer;
    font: inherit;
    margin-right: .5rem;
    font-size:15px;
    border: none;
    outline: none;
    border-radius:5px;
    background: rgb(100, 255, 52);
    color:white;
    padding: .1rem .4rem;
    transition:.6s;
        &:hover {
            background:rgb(44, 190, 0);
        }
}

form {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#retrun-button {
    cursor: pointer;
    font: inherit;
    margin-left: .5rem;
    font-size: 15px;
    border: none;
    outline:none;
    border-radius:5px;
    background-color:rgb(100, 255, 52);
    color: white;
    padding:.1rem .4rem;
    transition:.4s;
        &:hover {
            background:rgb(44, 190, 0);
        }
}